<div class="head template-seven grid center">
    <aside class="cursor" (click)="sort(prop)" *ngFor="let prop of props">{{prop}}</aside>
</div>
<div class="table">
    <app-grid-item *ngFor="let person of starwarPeople; let i = index" [personItem]="person" [index]="i"></app-grid-item>
</div>
<div class="pagnation">
    <ul class="flex">
        <li  *ngIf="paging.before" (click)="showPage(paging.before)" >{{paging.before}}</li>
        <li  class="on" >{{paging.current}}</li>
        <li *ngIf="paging.after <= paging.topLimit" (click)="showPage(paging.after)" >{{paging.current+1}}</li>
        <li  (click)="showPage(paging.after)"  *ngIf="paging.after <= paging.topLimit">...</li>
        <!-- <li *ngFor="let page of paging.pages" [ngClass]="{'on': page == paging.current}"  >{{page}}</li> -->
    </ul>
</div>